html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

body.show-spinner > main {
  overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner > *{
  opacity: 0;
}

/* Spinner */
body.show-spinner::after{
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: rgba(0, 0, 0, 0.3);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    position: fixed;
    z-index: 1;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
.btn_entry{
    width: 100px;
}
.que-width{
    width: 45rem!important;
}
.questionOption{
    display: block;
    margin: 0 auto;
    width: 270px;
    padding: 15px;
}
.questionBox{
    width: 50rem!important;
}
.sign_in_box{
    text-align: left;
}
.custom_entr_select {
    padding: 5px;
    border: none;
    border: 1px solid #a3238e;
    width: 110px;
    border-radius: 3px;
}
.custom_card_color{
    background:#fbf7f5;
}
.visitorInfo{
    margin-right: 3px;
}
._container{
    margin: 0 auto;
}
/* sign in */
.custom_entry{
    margin: 0 auto;
    float: left;
    width: 50%;
    display:flex;
}

.custom_width_box{
    width: 320px;
    margin-right: 20px;
}
.chart-container{
    height: 300px;
}

.container-login {
    border-radius: 5px;
    width: 85%;
    margin: 0px auto;
    max-width: 85%;
    padding: .5rem;
    margin-top: 2rem;
    position: relative;
    display: flex;
}

.first-border-row {
    border: 2px solid grey;
    margin:0;
    padding: 1rem;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.sec-border-row {
    border: 2px solid grey;
    margin:0;
    padding: 1rem;
    border-radius: 0 5px 5px 0;
    width: 30%;
}

.sec-row-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* #modalCheckin {
    padding-right: 5px!important; 
}

#simple_checkin {
    padding-left: 5px!important;
} */

@media only screen and (max-width: 1150px) {
    .first-border-row {
        border:none;
        width: 100%;
    }

    .sec-border-row {
        border:none;
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 0px 15px;
    }

    .sec-row-content {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}



